.app {
    display: grid;
    grid-template-columns: 1fr;
    width: 200px;
    height: 200px;
    background: #F5F5F5FF;
    padding: 1rem;
}
.canvas {
    background: #F5F5F5FF;
    color: inherit;
}
